<article class="w-screen flex items-center justify-center flex-col">
    <p>{{category}}/{{productID}}</p>

    <ng-container  *ngIf="robot; else noRobot">
        <section class="pt-20 flex items-center justify-center flex-col md:flex-row gap-8 w-full">

            <div class="md:w-[40%] flex items-end justify-end">

                <img class="w-[200px] h-[200px] md:w-[600px] md:h-[600px] max-w-full overflow-hidden" src="assets/images/{{robot?.bilde}}" alt="Bilde av Robot Pet">
            </div>
            <div class="w-[90%] md:w-[40%]">
                <h1 class="font-bold py-1">{{robot.tittel}}</h1>
                <p><strong>Beskrivelse</strong>: {{robot.beskrivelse}}</p>
                <p><strong>Generelt</strong>: {{robot.General}}</p>
                <p><strong>Pris</strong>: {{robot.pris}} kr</p>
                <p><strong>Anbefalt alder</strong>: {{robot.Aldersanbefaling}}</p>
                <p><strong>Spesifikasjoner</strong>: {{robot.Spesifikasjoner}}</p>
                <p><strong>Kategori</strong>: {{robot.Kategori}}</p>
                <p><strong>Vekt</strong>: {{robot.Vekt}} kg</p>
                <p><strong>Størrelse</strong>: {{robot.Storrelse}}</p>
                <p><strong>Materiale</strong>: {{robot.Materiale}}</p>
                <p><strong>Funksjoner</strong>: {{robot.Funksjoner}}</p>
                <p><strong>Batteri</strong>: {{robot.Batteri}}</p>
                <p><strong>Lading</strong>: {{robot.Lading}} timer</p>
                <p><strong>Garanti</strong>: {{robot.Garanti}}</p>
                <div class="flex items center justify-center flex-col">
                    <div class="flex items-center justify-center gap-2 ">
                        <button aria-label="Fjern et produkt" class="font-bold text-2xl">-</button>
                        <p class="text-2xl">0</p>
                        <button aria-label="Legg til et produkt" class="font-bold text-2xl">+</button>
                    </div>
                    <div class="flex items-center justify-center">

                        <button (click)="addRobot(robot)" aria-label="Legg til handlekurven" class="md:w-[36%] flex items-center justify-center border border-[#22E6F3] p-4">Legg til handlekurven</button>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>

</article>

<ng-template #noRobot>
    <p>Feil Oppstod</p>
  </ng-template>
