<article class="w-screen flex items-center justify-center flex-col">
    <section
        class="pt-20 flex items-center justify-center flex-col md:flex-row gap-8 w-full"
    >
        <div class="md:w-[40%] flex items-end justify-end">
            <img
                class="w-[200px] opacity-80 h-[200px] md:w-[600px] md:h-[600px] max-w-full overflow-hidden"
                src="assets/images/animal_group_1.jpg"
                alt="Bilde av Robot Pet gruppe"
            />
        </div>
        <div class="w-[90%] md:w-[40%] flex flex-col gap-14">
            <p class="font-bold text-3xl">
                Allergivennelige kjeledyr for alle aldre.
            </p>
            <p class="font-bold text-3xl">
                En venn for livet som aldri
                vill forlate deg.
            </p><p class="font-bold text-3xl">
                Si farvel til øddelagte møbler
            </p>
        </div>
    </section>
</article>
